{% extends 'common.html' %}
{% block sampoorna %}
  {% for x in messages %}
      <h4>{{ x }}</h4>
      {% endfor %}
    <table align="center" border="2">
        <tr>
            <th>Course_Id</th>
        <th>Course_Name</th>
        <th>Faculty</th>
        <th>Date</th>
        <th>Time</th>
        <th>Fee</th>
        <th>Duration</th>
            <th>Enroll</th>
    </tr>
    {% for x in data%}
    <tr>
        <th>{{ x.Course_Id }}</th>
        <th>{{ x.Course_Name }}</th>
        <th>{{ x.Faculty }}</th>
        <th>{{ x.Date }}</th>
        <th>{{ x.Time }}</th>
        <th>{{ x.Fee }}</th>
        <th>{{ x.Duration }}</th>
      <th><a href="{% url 'enrolled' %}?cid={{ x.Course_Id }}&sid={{ request.session.Student_Id }}">Yes</a></th>
</tr>
    {% endfor %}
    </table>
{% endblock %}